<div class="row">

    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 class="header" align="center">Login</h2>
        Email : <input type="text" class="form-control" [(ngModel)]="email" /> <br>
        Password : <input type="password" class="form-control" [(ngModel)]="password" /> <br>
        <br>
        <div class="text-center">
            <button type="button" class="btn btn-primary btn-block" (click)="login()">Login</button>
        </div><br>
        <a routerLink="/signup">Create New Account ?</a>
    </div>
</div>